<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-icon name="options" class="menu" (click)="opcoes2()"></ion-icon>
    </ion-buttons>
    <ion-title>Recebimento - Leitura Cega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>N° Romaneio : {{romaneio}}</ion-label>
  </ion-item>

  <ion-list>
    <button ion-item *ngFor="let item of lista2">
      <h2>{{ item.codigo }}</h2>
      <p>{{ item.nome }}</p>
      <ion-icon item-end name="sync" (click)="apaga(item)"></ion-icon>
      <ion-icon item-end name="hand" (click)="manual(item)"></ion-icon>
      <ion-badge item-end>{{ item.qtd_contada }}</ion-badge>
      <ion-icon item-end name="barcode" (click)="lerQr2(item)"></ion-icon>
    </button>
  </ion-list>

</ion-content>