<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-icon name="menu" class="menu" (click)="opcoes()"></ion-icon>
    </ion-buttons>
    <ion-title>Separação de materiais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  >
<ion-list lines="full">
  <ion-item >
    <ion-label>Empreiteira: {{empreiteira}}</ion-label>
  </ion-item>

  <ion-item >
    <ion-label>Romaneio: {{romaneio}}   /   Almox: {{almoxarifado}}</ion-label>
  </ion-item>
</ion-list>

  <ion-list>
    <button ion-item *ngFor="let item of lista">
      <h2>{{ item.prateleira }}</h2>
      <h2>{{ item.codigo }}</h2>
      <p>{{ item.nome }}</p>
      <p>Estoque disponivel {{item.qtd_estoqueTotal}}</p>
      <ion-icon item-end name="sync" (click)="apaga(item)"></ion-icon>
      <ion-badge item-end>{{ item.quantidade }}</ion-badge>
      <ion-icon item-end name="barcode" (click)="lerQr(item)"></ion-icon>
    </button>
  </ion-list>

</ion-content>