<ion-content padding>
  <h1 text-center>
    <ion-icon name="ios-people"  color="secondary" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup]="autenticaForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="md-person" color="secondary" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Nome" formControlName="nome" inputmode="text" autofocus="true">
      </ion-input>
      <ion-note slot="end" color="range" *ngIf="nome.dirty && nome.hasError('required')">Item exigido</ion-note>
      <ion-note slot="end" color="range" *ngIf="nome.dirty && nome.hasError('minlength')">Min 3 caracteres</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="secondary" slot="start"></ion-icon>
      <ion-input type="email" placeholder="Email de destino" formControlName="email" inputmode="email">
      </ion-input>
      <ion-note slot="end" color="range" *ngIf="email.dirty && email.hasError('required')">Item exigido</ion-note>
      <ion-note slot="end" color="range" *ngIf="email.dirty && email.hasError('email')">Email invalido</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="md-finger-print" color="secondary" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Registro" formControlName="registro"></ion-input>
      <ion-note slot="end" color="range" *ngIf="registro.dirty && registro.hasError('required')">Item exigido</ion-note>
      <ion-note slot="end" color="range" *ngIf="registro.dirty && registro.hasError('minlength')">Min 5 caracteres
      </ion-note>
    </ion-item>

    <ion-button expand="block" color="secondary" type="submit" [disabled]="autenticaForm.invalid">CADASTRAR USUARIO
    </ion-button>

  </form>

    <ion-list lines="full">
      <ion-item>
        <ion-label >usuario: {{usuario.nome}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label >registro: {{usuario.registro}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label >email destino: {{usuario.email}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="secondary" (click)="acessar()">ACESSAR</ion-button>




</ion-content>